<% include ../partials/header  %>

    <div class="row">
        <h1 style="text-align: center">Create a new hiking trail</h1>
        <div style="width: 30%; margin: 25px auto">
        <form action="/trails" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="name" placeholder="Yosemite National Park">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input class="form-control" type="text" name ="image" placeholder="https://imgure.com">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name ="location" placeholder="California, US">
            </div>
            <div class="form-group">
                <label for="distance">Length (in miles)</label>
                <input class="form-control" type="number" name ="distance" placeholder="14.8" min="0.1" step="0.1">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        </div>
    </div>

<% include ../partials/footer %>